body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover, textarea:hover {
    background-color: #f0f8ff;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

small {
    color: red;
    font-size: 12px;
}

#successMessage {
    color: green;
    font-weight: bold;
    text-align: center;
}